spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        druid:
          driver: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://192.168.1.27:3306/blog?charset=utf8&useSSL=false&serverTimezone=GMT%2B8
          username: root
          password: root
          time-between-eviction-runs-millis: 60000

mybatis:
  mapper-locations: classpath:mapper/*.xml

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  rowBoundsWithCount: true
